@import url(https://fonts.googleapis.com/css?family=Nunito);

/* MAIN HEADER*/
.main_header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #DCDCDC !important;

}

.main_header .main_header_content{

    max-width: 1300px;
    margin: 0 auto;
    display: flex;

}

.main_header .main_header_content .logo{
    flex-basis: 200px;
    font-weight: 600;
    padding: 10px;
    padding-left: 35px;
    padding-top: 25px;
    color: #666;
    text-decoration:none; 
}

.main_header .main_header_content .text{
    margin-left: 350px;
    
}

.main_header .main_header_content .text_menu{
    font-size: 1.3em;
    font-weight: 600;
    padding: 0px 50px;
    color: #666;
    text-decoration:none; 
    width: 100%;
    padding: 20px 0 0 0;
}

.main_header .main_header_content .main_header_search{
    padding: 20px;
    flex-basis: 450px;
}

.main_header_form {
    width: 50%; 
    position: relative; 
    margin-left: 410px;
}

#text-search {
    width: 100%; 
    border-radius: 18px;
    border: 1px solid #D3D3D3;
}

#text-search,  #search {padding: 5px;}

#search {
    position: absolute;   
    top: 0; 
    right: 0;
    border-radius: 0px 18px 18px 0px;
    border: 1px solid #D3D3D3;
    border-left: none;
}

#text-search:focus {
    box-shadow: 0 0 0 0;
    border: 1px solid #D3D3D3;
    outline: 0;
}
#search:focus {
    box-shadow: 0 0 0 0;
    border: 1px solid #D3D3D3;
    outline: 0;
}

.main_header_photo img{
    border-radius: 50%;
    border: 3px solid #D3D3D3;
    margin-top: 5px;
    margin-left: 10px;
}



/* NEW */
.main_new{
    max-width: calc(1300px - 40px);
    padding: 0 20px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_new .main_new_header{
    flex-basis: 100%;
    margin: 30px 0;
}

.main_new .main_new_header h1{
    color: #696969;
    margin-bottom: 5px;
    font-size: 1.4em;
}

.main_new .main_new_header hr{
    opacity:0.4;
}

.main_new article{
    opacity: 1.0;
    flex-basis: calc(25% - 20px);
    margin-bottom: 30px;
    /*border-style: groove*/
    border: 1px solid #d0d0d0;
}

.article_add{
    border: none !important;
    cursor:pointer
}

.article_add spam img {
    height: 330px;
}

.main_new article img{
    width: 100%;
}
.main_new article img:hover{
    opacity: 0.7;
}

.main_new article p{
    margin: 10px 0; 
}

.main_new article .title{
    font-size: 1.0em;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 15px;
}

.main_new article .button-new{
     background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     border: 1px solid #CCCCCE;
     border-radius: 3px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #616165;
     display: block;
     font-family: "Trebuchet MS";
     font-size: 14px;
     font-weight: bold;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     text-shadow:1px 1px 0 #FFF;
     padding: 5px 15px;
     position: relative;
     width: 80px;
     margin-bottom: 20px;
     margin-left: 90px;
     cursor:pointer;
}


.main_new article h2{
    font-weight: 300;
    font-size: 1.2em;
    opacity: 0.4;
    margin-left: 15px;
}

.main_new article h2 a{
    color: #333;
    font-weight: 300;
}


/* FOOTER RIGHT */

.main_footer_rights{
    width: 100%;
    padding: 7px 0;
    background-color: #DCDCDC;
    border-top: 1px solid #EBEBEB;
    font-size: 1.3em;
    color: #666;
    font-weight: 600;
    text-align: center;
    position:absolute;
    bottom:0;
}

.main_footer_rights_p{
    padding: 0px 50px;
}


/** FORM */

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top:200px;

}
.container h1{
    text-align:center;
}
.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}


/** RESPONSIVE */
@media (max-width: 42em){

    .main_header .main_header_content .text{
        margin-left: 50px;
    }

    .main_header_search{
       display: none;
    }
    
}

/* 640px */
@media (max-width: 40em){
    .main_new article{
        flex-basis: calc(50% - 10px);
    }
    .modal-img {
        margin-top: -45px;
        margin-left: -45px;
    }

}


/* 520px */
@media (max-width: 32em){

    .modal-img {
        width:125% !important;
    }
}
/* 480px */
@media (max-width: 30em){

    .main_header .main_header_content .logo img{
        width: 100% !important;
        margin:5px 0px 0px 0px;
    }
    .main_new article{
        flex-basis: 100%;
    }

    .main_header .main_header_content .main_header_search {
        padding: 20px;
        flex-basis: 10em;

    }
    .main_header_form {
        width: 160px; 
        /*position: relative; */
        margin: 0px;
    }
    .main_new article .button-new{
        width: 100px !important;
    }
  


    /*footer*/
    .main_footer {  
        width:24.5em;
        padding:0px !important;
    }
    .main_footer  > header{
        border-bottom:1px solid #333;
        padding:0px 0px 0px 0px  !important;
        margin: 0px 0px 0px 0px !important;
        display: inline-block;
    }


    /*contato*/

    .main_footer_rights {
        margin: 5px 0px 0px 0px;
        text-align: center;
    }

}
